<div class="child-show">
  <div class="child-information">
    <div class="name">
      <%= @child.name %>
    </div>
    <div class="image-show">
      <%= image_tag @child.image %>
    </div>
    <div class="birthday">
      <%= @child.birthday %>
    </div>
    <div class="gender">
      <%= @child.gender.name %>
    </div>
  </div>

  <div class="child-medical">
    
  </div>
</div>