<div class="medical-show">
  <div class="medical-information">
    <div class="medical-day">
      <%= @medical.day %>
    </div>
    <div class="medical-name">
      <%= @medical.name.name %>
   </div>
   <div class="medical-image">
      <%= image_tag @medical.image %>
   </div>
</div>