
.header {
  height: 100px;
  background-color: rgb(137, 220, 245);
}

.header a {
  text-decoration: none;
  color: black;
}

.header-left {
  font-size: 48px;
  float: left;
  line-height: 100px;
  width: 80%;
  padding-left: 10px;
}

.header-right {
  line-height: 100px;
}

.header-right a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header-list {
  display: flex;
  justify-content: space-around;
}

.main {
  height: calc(100vh - 200px);
  background-color: cornsilk;
  display: flex;
  overflow: scroll;
}

.main-children {
  width: 40%;
  padding: 40px;
}

.register-child a{
  text-decoration: none;
  color: black;
  font-size: 24px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px black;
}

.child-name {
  line-height: 50px;
}

.main-diary {
  width: calc(100% - 40%);
  padding: 40px;
  text-align: center;
}

.main-diary a{
  text-decoration: none;
  color: black;
}


.image {
  margin-bottom: 30px;
}

.register-child {
  margin-bottom: 50px;  
}

.child-information {
  margin-bottom: 30px;
}

.input-birth {
  display: flex;
}


.footer {
  height: 100px;
  background-color: yellow;
  color: black;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
}

.child-show {
  display: flex;
  background-color: blanchedalmond;
  height: 100vh;
}

.child-information {
  width: 50%;
  padding: 20px;
}

.child-medical {
  width: 50%;
  padding: 20px;
}

.input-birth {
  display: flex;
  justify-content: space-around;
}

.input-birth select {
  width: 20%;
  margin-top: 5px;
  height: 28px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth p {
  line-height: 40px;
  padding: 0 5px;
}